.card{
    background-color: #3B3B3B !important;
}
.tag-card{
    padding: 2px 7px;
    border-radius: 100px;
    background: var(--background, #2B2B2B) !important;
    color: #6e6e6e;
}
.total{
    color: #6e6e6e;
}